<div class="container" ng-controller="RotateGameController">
    <h1>{{name}}</h1>
    <div ng-show="!isShow">
        <h3>Would you like to tranning words?</h3>
        <button type="submit" class="btn btn-primary" ng-click="onStart()" style="width: 300px;">
            <span>Start Game</span>
        </button>
    </div>
    <div ng-show="isShow">
        <h3 style="color: green;">Correct answers: {{correctAnswers}}</h3>
        <h3 style="color: red;">Incorrect answers: {{incorrectAnswers}}</h3>
        <table style="width: 700px; height: 300px">
            <tr>
                <td align="center">

                    <ol class="trans-list">
                        <li ng-repeat="word in wordsToLearn" style="height: 35px;">
                            <div class="click panel circle" ng-click="onCircleClick($index)" id='{{word.Id}}'>
                                <div class="front">
                                    <h2>Click or tap this circle!</h2>
                                </div>
                                <div class="back">
                                    <h2>{{word.RundomWord}}</h2>
                                </div>
                            </div>
                        </li>
                    </ol>

                   <!-- <div ng-class="circleClass" ng-click="onCircleClick(1)" id='{{word}}'>
                        <div class="front">
                            <h2>Click or tap this circle!</h2>
                        </div>
                        <div class="back">
                            <h2>{{word.EnglishWord}}</h2>
                        </div>
                    </div>-->

                    <!-- <div class="click panel circle" ng-click="onCircleClick(2)" id="div2">
                        <div class="front">
                            <h2>Click or tap this circle!</h2>
                        </div>
                        <div class="back">
                            <h2>{{word.EnglishWord}}</h2>
                        </div>
                    </div>-->

                </td>
            </tr>
        </table>
        <br />
        <button type="submit" class="btn btn-primary" ng-click="onClick()" style="width: 100px;">
            Check
        </button>
        <h3>Remaining words:{{wordsToShow}}!</h3>
    </div>
    <div ng-show="isFinish">
        <h1 style="color: blue;">You are finished☺</h1>
        <h3 style="color: green;">Correct answers: {{correctAnswers}}</h3>
        <h3 style="color: red;">Incorrect answers: {{incorrectAnswers}}</h3>
        <a href="/">Back to home</a>
    </div>
</div>
