
<section>
    <ul class="thumbnails">
        <li class="span3">
            <a href="#/Trainings/Game1" class="thumbnail">{{games.title1}}
          <img src="/Images/Icons/Game1.PNG" alt="">
            </a></li>
        <li class="span3">
            <a href="#/Trainings/Game2" class="thumbnail">{{games.title2}}
                <img src="/Images/Icons/Game2.PNG" alt="">
            </a>
        </li>
        <li class="span3">
            <a href="#/Trainings/Game3" class="thumbnail">{{games.title3}}
                <img src="/Images/Icons/Game3.PNG" alt="">
            </a>
        </li>
        <li class="span3">
            <a href="#/Trainings/RotateGame" class="thumbnail">{{games.title4}}
                <img src="/Images/Icons/Game3.PNG" alt="">
            </a>

        </li>
    </ul>
</section>


