@using EnjoyLearn.Web.Helpers
<div id="forgot-password-page" ng-controller="ForgotPasswordController">
    <form name="form" ng-submit="submit()" novalidate>
        @Html.ClientView("ModelErrors")
        <field-group for="email">
        <label class="control-label" for="forgot-password-email">Email</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span>
            <input
              id="forgot-password-email"
              name="email"
              type="email"
              ng-model="password.email"
              ng-required="true"
              autofocus />
          </div>
        </div>
        <validation-message
          for="email"
          required="Email is required."
          email="Email must be in valid format." />
      </field-group>
        <div class="form-actions">
            <submit-button>Submit</submit-button>
        </div>
    </form>
</div>
